    div[id="main"] {
      padding: 30px;
      min-height: 470px;
      background-image: url(/static/telegram_bg.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /*background-color: #0f9fc6;*/
      }
      
    div[id="main"] h2,p {
      color: #fff;
      }
      
    input[type=text] {
      width: 360px;
      padding: 9px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 5px;
      }

    ul[id="1stnavbar"] {
      list-style-type: none;
      margin: 0;
      padding-right: 138px;
      overflow: hidden;
      background-color: #e6e6e6;
      }
      
    li[id="1stnavbar"] {
      float: right;
      }
      
    li[id="1stnavbar"] a {
      font-family: GothamRounded,Arial,sans-serif;
      letter-spacing: 0.3px;
      font-size: 11px;
      font-weight: bold;
      color: #666;
      display: block;
      text-align: center;
      padding: 14px 13px;
      text-decoration: none;
      }
      
    li[id="1stnavbar"] a:hover {
      text-decoration: underline;
      }
      
    ul[id="2ndnavbar"] {
      list-style-type: none;
      margin: 0;
      padding: 22px 0px 22px 135px;
      overflow: hidden;
      }
      
    li[id="2ndnavbar"] {
      float: left;
      }
      
    li[id="2ndnavbar"] a{
      padding-left: 10px;
      }
      
    li[id="shield"] a{
      float: left;
        padding-left: 125px;
        padding-top: 10px;
      }
      
    li[id="green"] a{
      float: left;
        padding-left: 18px;
        padding-top: 1px;
        /*width: 150px;
        height: 45px;*/
      }
      
    ul[id="3rdnavbar"] {
      list-style-type: none;
      margin: 0;
      padding-left: 125px;
      overflow: hidden;
      background-color: #27b1d7;
      }
      
    li[id="3rdnavbar"] {
      float: left;
      }
     
    li[id="3rdnavbar"] a {
      font-family: GothamRounded,Arial,sans-serif;
      letter-spacing: 0.4px;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      display: block;
      text-align: center;
      padding: 20px 15px;
      text-decoration: none;
      }

    li[id="3rdnavbar"] a:hover {
      background-color: #1797b8;
      }
    
    li[id="card"] a{
      float: left;
      padding-left: 128px;
      }
      
    h2 {
      font-weight: bold;
    }