<!DOCTYPE html>
<html lang="en">
<head>
  <title>Carrefour - Telegram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carrefour_telegram.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<ul id="1stnavbar">
    <li id="1stnavbar"><a href="#GrupoCarrefor">
        <img src="/static/group_icon.png">Grupo Carrefour</a></li>
    <li id="1stnavbar"><a href="#EncontreLoja">
        <img src="/static/findstore_icon.png">Encontre uma loja</a></li>
    <li id="1stnavbar"><a href="#Atendimento">
        <img src="/static/custserv_icon.png">Atendimento</a></li> 
</ul>
    
<ul id="2ndnavbar">
    <li id="2ndnavbar"><a href="#"><img src="/static/carrefour_logo.png" title="Go to CSF"></a></li>
    <li id="2ndnavbar"><input type="text"></li>
    <li id="shield"><a><img src="/static/siteseguro.png" style="width:81px;height:27px;"></a></li>
    <li id="green"><a href="#"><img src='/static/meucartao_off.png' onmouseover="this.src='/static/meucartao_on.png';" onmouseout="this.src='/static/meucartao_off.png';" style="width: 150px;height: 45px"></a></li>
</ul>
    
<ul id="3rdnavbar">
  <li id="3rdnavbar"><a class="active" href="#cartao">Cartão Carrefour</a></li>
  <li id="3rdnavbar"><a href="#seguros">Seguros</a></li>
  <li id="3rdnavbar"><a href="#servicos">Serviços</a></li>
  <li id="3rdnavbar"><a href="#promocao">Promoção</a></li>
  <li id="3rdnavbar"><a href="#blog">Blog</a></li>
  <li id="card"><a href="#"><img src='/static/pecaja_off.png' onmouseover="this.src='/static/pecaja_on.png';" onmouseout="this.src='/static/pecaja_off.png';" style="width: 305px;height: 60px"></a></li>
</ul>
  
  <div class="jumbotron" id="main">
    <h2 class="text-center">IMPORTANTE!</h2>
    <p class="text-center">Nossos clientes já podem se comunicar conosco através do Telegram!</p>
    <p class="text-center">Clique no link abaixo para tirar suas dúvidas, dar sugestões ou mesmo fazer críticas e reclamações!</p>
    <p class="text-center"><a href="http://t.me/BotDoMauBot"><img src="/static/telegram_logo.png"></a></p>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>
</html>